services:
  password_checker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: password_checker
    environment:
      - HIBP_API_KEY=${HIBP_API_KEY:-}
      - HIBP_API_ROOT=${HIBP_API_ROOT:-https://api.pwnedpasswords.com}
      - HIBP_TIMEOUT_SECONDS=${HIBP_TIMEOUT_SECONDS:-6.0}
      - HIBP_MAX_RETRIES=${HIBP_MAX_RETRIES:-3}
      - ENABLED_COMPONENTS=${ENABLED_COMPONENTS:-pass_strength_ai,zxcvbn,haveibeenpwned}
    ports:
      - "9000:8000"
